.pageTitle {
  width: 80%;
  font-size: 24px;
  color: #00FFB3;
  text-align: start;
  margin: auto;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  margin: auto;
  max-width: 1000px;
  height: max-content;
  background-color: #1b1b1b;
  border: none;
  border-radius: 8px;
  animation: fadeInUp 0.6s ease forwards;
  opacity: 0;
}

.pageSection {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
  padding: 20px;
  background-color: #1b1b1b;
  border-radius: 8px;
}

.sectionTitle {
  width: 100%;
  color: #e0e0e0;
  font-size: 20px;
  text-align: center;
}

.pageBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.boxTitle {
  width: 90%;
  color: #e0e0e0;
  font-size: 16px;
  text-align: center;
}


.descobertaBoxContent {
  min-width: 320px;
}

.descobertaSectionTitle {
  font-size: 1.2rem;
  color: #e0e0e0;
  font-weight: bold;
  text-align: center;
}

.descobertaSectionTitle:hover {
  transition: 0.2s;
  color: #00ffb3;
}

.descobertaSectionContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.descobertaBox {
  flex: 1;
  min-width: 300px;
  background-color: #2c2c2c;
  padding: 10px;
  border-radius: 8px;
}

.descobertaBoxTitle {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
}

.descobertaBoxContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.descobertaBoxContent iframe {
  width: 400px;
  border-radius: 8px;
  max-width: 80%;
  flex: 1 1 45%;
  min-width: 200px;
}

@media (max-width: 768px) {
  .descobertaSectionContent {
    flex-direction: column;
    align-items: center;
  }

  .descobertaBox {
    max-width: 100%;
  }

  .descobertaBoxContent iframe {
    flex: 1 1 100%;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

