.playlistContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
  animation: fadeInUp 0.6s ease forwards;
  opacity: 0;
  max-width: 1000px;
  margin: auto;
}

.pageTitle {
  width: 80%;
  font-size: 24px;
  color: #00FFB3;
  text-align: start;
  margin: auto;
}

.playlistTitle:hover {
  transition: 0.2s;
  color: #00ffb3;
}

.playlistSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  gap: 20px;
  padding: 20px;
  background-color: #1b1b1b;
  border-radius: 8px;
}

.sectionTitle {
  width: 100%;
  color: #e0e0e0;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.searchMusicInput {
    border: 1px solid #D9D9D9;
    background: none;
    border-radius: 8px;
    color: #D9D9D9;
    width: 80%;
    text-align: start;
    height: 40px;
}

.musicItemCard {
    border-radius: 8px;
    background-color: rgb(43, 43, 43);
    width: 400px;
    max-width: 90%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

