.pageTitle {
  width: 80%;
  font-size: 24px;
  color: #00FFB3;
  text-align: start;
  margin: auto;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  margin: auto;
  max-width: 1500px;
  height: max-content;
  background-color: #1b1b1b;
  border: none;
  border-radius: 8px;
}

.pageSection {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
  padding: 20px;
  background-color: #1b1b1b;
  border-radius: 8px;
}

.pageBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}